*{
  padding: 0;
  margin: 0;
}

#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#header{
  background-color: lightcoral;
  border: 1px solid black;
  height: 10vh;
  width: 100%;
}

#main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: lightblue;
  border: 1px solid black;
  height: 70%;
  width: 100vw;
}

#story{
  background-color: white;
  border: 1px solid red; 
  width: 23%;
}

#myCanvas{
  border: 1px solid red;
  width: auto;
  margin: 0 auto;
}

#instructions{
  background-color: white;
  border: 1px solid red;
  width: 21%;
}



#footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: lightseagreen;
  border: 1px solid black;
  height: 20vh;
  width: 100%;
}

#info{
  font-size: 2em;
  color: white;
}

#buttons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

button {
  margin: 10%;
  width: 100%;
  height: auto;
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #e74c3c;
	border-bottom: 5px solid #c0392b;
	text-shadow: 0px -2px #c0392b;
}

.green
{
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	text-shadow: 0px -2px #27ae60;
}

.yellow
{
	background-color: #f1c40f;
	border-bottom: 5px solid #f39c12;
	text-shadow: 0px -2px #f39c12;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}